%% -*- mode:erlang -*-
{erl_opts, [ debug_info
           %, {d, 'HUT_IOFORMAT'}
           ]}.

{project_app_dirs, ["apps/*"]}.

{deps,
 [ {task_graph, {git, "https://github.com/k32/task_graph.git", {tag, "0.3.1"}}}
 , {lee, {git, "https://github.com/k32/Lee.git", {tag, "0.0.2"}}}
 %% Have to use a fork, as the upstream refuses to allow using a
 %% closure as data storage \~////
 , {bbmustache, {git, "https://github.com/k32/bbmustache"}}
 , {hut, "1.3.0"}
 ]}.

{profiles,
 [ {test, [{deps, [ {proper, "1.2.0"}
                  ]}]}
 ]}.

{escript_name, anvl}.
{escript_main_app, anvl_core}.
{escript_emu_args, "%%! -escript main anvl_core\n"}.
{escript_incl_apps, [ hut, typerefl, lee, anvl_core, anvl_compile
                    ]}.
