%% -*- mode:erlang -*-
{erl_opts, [ debug_info
           , {d, 'HUT_IOFORMAT'}
           ]}.

{project_app_dirs, ["apps/*"]}.

{deps,
 [ {task_graph, {git, "https://github.com/k32/task_graph.git", {tag, "0.3.1"}}}
 , {lee, {git, "https://github.com/k32/Lee.git", {tag, "0.0.1"}}}
 %% Need to use a fork, as the upstream can't use closure as data:
 , {bbmustache, {git, "https://github.com/k32/bbmustache"}}
 , hut
 ]}.

{profiles,
 [ {test, [{deps, [ {proper, "1.2.0"}
                  ]}]}
 ]}.

{escript_name, tndn}.
{escript_main_app, tendon_core}.
{escript_emu_args, "%%! -escript main tendon_core\n"}.
{escript_incl_apps, [ hut, typerefl, lee, tendon_core, tendon_compile
                    ]}.
